[core]
	editor = nvim
[merge]
    tool = vimdiff
[user]
	useconfigonly = true
    name = Alexander Sherikov
    email = alexander@sherikov.net
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
